@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --gray-1: #fafaf9;
  --gray-2: #e7e5e4;
  --gray-3: #292524;
  --gray-4: #1c1917;
  --gray-m: #78716c;
  --primary: #084c61;
  --accent: #fa3a6d;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr 0.5fr;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

h1 {
  font-size: 3rem;
  color: #2563eb;
}

.content {
    border: 5px solid #fa3a6d;
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 80vh;
}

.btn-container {
  grid-column: 1 / -1;
  border: 1px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .popover {
    display: block;
    position: relative;
    /* border: 1px solid blue; */

  }

  .popover .popover__trigger {
    
  }
  
  .popover__menu {
    border-radius: 4px;
    border-top: 2px solid #49c5b6;
    background: #fff;
    list-style-type: none;
    margin: 8px 0;
    min-width: 100%;
    padding: 0.5rem 0;
    position: absolute;
    top: 150%;
    left: -150%;

    box-shadow: 0 2px 3px 0 rgba(63, 63, 68, 0.2);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transform: scale(0.9);
    transform-origin: top left;
    display: block;
    opacity: 0;
  }

  .popover__menu:after {
    bottom: 100%;
    left: 0.5rem;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    /* border-bottom-color: #49c5b6; */
    border-width: 7px;
  }
  .popover__menu-item {
    white-space: nowrap;
    display: grid;
    padding: 1.5rem;
    gap: 1rem;
  }

  form > input {
    padding: 3px;
  }
  /* .popover__menu-item button {
    border: 0;
    border-radius: 0;
    width: 100%;
    text-align: left;
  }
  .popover__menu-item button:hover, .popover__menu-item button:focus {
    background-color: #f1f1f1;
  } */

  .popover--active .popover__menu {
    transform: scale(1.8);
    display: block;
    opacity: 1;
  }

  button {
    border-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.6rem 1rem;
  }

  .grid-container {
    grid-column: 1 / -1;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;

  }

  .grid-item {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 1px solid red;
  }

  .footer {
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
  }
  



